
/*form styles*/
.msform {
  margin: 50px auto;
  text-align: center;
  position: relative;
}
.msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  margin: 0 10%;
}
/*Hide all except first fieldset*/
.msform fieldset:not(:first-of-type) {
  display: none;
}

.msform [type="checkbox"] {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2C3E50;
  font-size: 13px;
}


/*buttons*/
.msform .action-button {
  width: 100px;
  background: #27AE60;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}
.msform .action-button:hover, .msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}


button[disabled]{
  background: #ccc !important;
  cursor: not-allowed !important;
}


/*headings*/
.fs-title {
  font-size: 15px;
  text-transform: uppercase;
  color: #2C3E50;
  margin-bottom: 10px;
}
.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
}
#progressbar li {
  list-style-type: none;
  color: #000000;
  text-transform: uppercase;
  font-size: 13px;
  width: 20%;
  float: left;
  position: relative;
}
#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 20px;
  line-height: 20px;
  display: block;
  font-size: 10px;
  color: #FFFFFF;
  background: #fea541;
  border-radius: 3px;
  margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: #fea541;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
  background: #27AE60;
  color: white;
}


.checkbox label:after,
.radioo label:after {
  content: '';
  display: table;
  clear: both;
}

.checkbox .cr,
.radioo .cr {
  position: relative;
  display: inline-block;
  border: 1px solid #a9a9a9;
  border-radius: .25em;
  width: 1.3em;
  height: 1.3em;
  float: left;
  margin-right: .5em;
}

.radioo .cr {
  border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radioo .cr .cr-icon {
  position: absolute;
  font-size: .8em;
  line-height: 0;
  top: 50%;
  left: 20%;
}

.radioo .cr .cr-icon {
  margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radioo label input[type="radio"] {
  display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radioo label input[type="radio"] + .cr > .cr-icon {
  transform: scale(3) rotateZ(-20deg);
  opacity: 0;
  transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radioo label input[type="radio"]:checked + .cr > .cr-icon {
  transform: scale(1) rotateZ(0deg);
  opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radioo label input[type="radio"]:disabled + .cr {
  opacity: .5;
}

.radioo label{
  cursor: pointer;
}



.main-form {
  position:absolute;
  right:0;
  top:0;
  /*background:white;*/
  width:500px;
  z-index:100;
  padding:20px;
  border-left:2px solid black;
  min-height:100%;
}
.control-group {
  margin-bottom:20px;
}
.error-messages.ng-active {
  background:maroon;
  color:white;
  padding:5px;
  border-radius:5px;
  margin-top:15px;
  position:relative;
}
.error-messages.ng-active:after {
  position:absolute;
  top:-10px;
  content:"";
  left:20px;
  border-style:solid;
  border-color:transparent transparent maroon;
  border-width:5px;
}
.main-stage {
  position:fixed;
  left:0;
  top:0;
  bottom:0;
  width:60%;
  background:url(angular-logo.png) no-repeat center center;
  background-size:80%;
}