/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/
/web/bundles/
/web/assets/vendor/
/web/reports/
/web/reports/*
/web/uploads/*
composer.lock
.idea/*
includes/*
/includes/*
pdf_create/
.idea
/app/AppKernel.php
/app/config/config.yml
