<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Montserrat:400">
    <title>Vuala - Política</title>

    <style type="text/css">
        .center-block{
            display:block;
            margin-right:auto;
            margin-left:auto;
        }
        p{
            color:#616161;
            padding-left:15px;
            padding-right:15px;
            text-align:justify;
        }
        hr{
            color:#40B0DF;
            border-color:#40B0DF;
            text-decoration:none;
            border-style:outset;
            border-bottom:none;
        }
    </style></head>
<body>

<table style="font-family:sans-serif;width:100%;">
    <tr>
        <th align="left" style="background-color:#40B0DF;border-radius:5px;">
            <br>
            <a href="http://vuala.io">
                <img alt="Vuala" class="center-block" src="http://res.cloudinary.com/holavuala/image/upload/v1488241217/assets/logo-inverse.png" width="150" height="40">
            </a>
            <h5 style="color:#FFFFFF;text-align:center;">El App para Manejar tus Gastos.</h5>

        </th>
    </tr>
    <tr>
        <td style="background-color:#f4f4f4;border-radius:5px;">
            <div style="text-align: center" align="center">
                <p>¡Estimado, <strong>{{ to }}</strong>!</p>
                <p>
                    <strong>{{ from }}</strong>, te ha invitado una nueva Política.</p>
                <div style="text-align: center" align="center">
                    <img src="http://app.vuala.io/assets/common/img/politicas.png" width="200" class="center-block" alt="politicas.png">
                </div>
                <div align="center">
                    <a class="cta cta-default all-caps" href="{{ url }}" style="background:#40B0DF;border-radius:5px;color:#fff;display:inline-block;font-size:18px;margin-top:20px;padding:8px 22px;text-decoration:none;font-weight:bolder;">Ir a Vuala</a>
                </div>
            </div>
            <br>
            <br>
        </td>
    </tr>
    <tr>
        <th align="left" style="background-color:#fff;">
            <br>
            <a href="http://vuala.io">
                <img alt="Vuala" class="center-block" src="http://res.cloudinary.com/holavuala/image/upload/v1488241217/assets/logo.png" width="120" height="35">
            </a>
            <br>
            <hr>
            <h5 style="color:#616161;text-align:center;">El App para manejar tus gastos.</h5>

            <h6 style="text-align:center;color:#616161;">Copyright Vuala {{year}} |    Todos los Derechos Reservados.</h6>
            <br>
        </th>
    </tr>
</table>
</body>
</html>

