<div style=" color:#808080">
    <p style="font-style: italic;color:#808080; font-size: 20px">¡Hola <a href="#" style="color:#808080;text-decoration:none !important" >{{email_admin}}! </a> </p>

    <p>Bienvenid@ a una organización más eficiente.</p>

    <p>Acabas de crear exitosamente una cuenta premium con Vualá. </p>

    <p>Administrar viáticos nunca ha sido tan fácil, en el tab "Políticas" 
    sigue los pasos para definir todo lo necesario - categorías, montos, 
    documentos requeridos, usuarios - para una política. Puedes crear las políticas que quieras. </p>

    <p>Cualquier duda, envía un correo a 
    <a href="mailto:hola@vuala.io" style="color:#40b0df" > hola@vuala.io </a> 
    <br> o bien marcarnos al 55 2581 2700 ext 2107. </p>

    <p>Equipo de Vualá</p>  
</div>