
    <h3>Estimad@ usuario,</h3>

    <p style="padding-top:15px"> 
        Tu usuario <strong>{{email_owner}}</strong> quiere asociar <strong>{{email}}</strong> a su cuenta. 
        Haz clic en el botón para aceptarlo. 
    </p>
    <p style="padding-top:15px">
        Con este email podrás hacer login, hacerlo tu email primario y reenviar XMLs a Vualá.
    </p>
    <p style="padding-top:15px">
        <small>Si no lo solicisitate, puedes ignorar este email.</small>
    </p>
