<div>
    <p style="font-style: italic;color:#808080; font-size: 20px">Hola <a href="#" style="color:#808080; text-decoration:none " >{{ admin_mail }}</a>,</p>
    <p><a href="#" style="color:#808080; text-decoration:none " >{{ email_user }}</a>  
    acaba de reabrir su reporte de gastos  <strong> {{ report_name }}</strong>. Ya no lo podr치s visualizar en Vual치. 
    </p>

    <p>Si te lo vuelve a mandar, te llegar치 otra notificaci칩n.</p>
    
</div>  
