<p style="font-style: italic;color:#808080; font-size: 20px">¡Hola <a href="#" style="color:#808080; text-decoration:none "  >{{ name | default('Usuario') }} </a>!</p>

<p>Acabamos de recibir una solicitud de cambio de contraseña. </p>

<p>Para cambiarla, haz clic en el siguiente botón:</p>



