<p style="font-style: italic;color:#808080; font-size: 20px">Hola <a href="#" style="color:#808080; text-decoration:none " >{{guess_mail}} </a>, </p> 

<p>
<a href="mailto:{{guess_mail}}" style="color:#808080; text-decoration:none " > {{owner_mail}} </a>
    te acaba de invitar a Vualá como usuario de la política <strong>{{policy_name}}</strong>.  
    </p>


<p>Bienvenid@ a una organización más eficiente.</p>
