<div>
    <p style="font-style: italic;color:#808080; font-size: 20px">¡Estimado, <a href="#" style="color:#808080; text-decoration:none " >{{ to }}</a>!</p>
    
    <p><a href="mailto:{{ from }}" style="color:#808080; text-decoration:none " >{{ from }}</a>, te ha invitado a uniter a Vualá 
    como administrador de la empresa <strong> {{ company }}</strong>.</p>

    <p>Vualá es un app pensada y diseñada para que puedas administrar tus gastos de manera fácil y rápida.</p>
    
</div>  