<p style="font-style: italic;color:#808080; font-size: 20px">¡Hola <a href="#" style="text-decoration:none; color:#808080">{{email}}</a>!</p>
<br>
<p>Gracias por unirte a Vualá - bienvenid@ a un control y administración de viáticos más fácil. </p>
<p>Por favor, haz clic en el siguiente botón para confirmar tu email:</p>