<h3>Hola <strong>{{email}}</strong>,</h3>
<br>
<p>Adjuntos encontrar치s el XML y PDF de tu factura electr칩nica. En cualquier momento los puedes descargar en Vual치.</p>
<p>Cualquier duda no dudes en escribirnos a <a href="mailto:hola@vuala.io" style="color:#40b0df; text-decoration: none;" >hola@vuala.io</a> </p>
<p>Equipo de Vual치<p>