<h3>Estimad@ <strong>{{email}}</strong>,</h3>
<br>
<p>Gracias por tu compra en Vual치 Factura Express. Adjunto encontrar치s el XML y PDF de tu factura electr칩nica.</p>
<p>Cualquier duda no dudes en escribirnos a <a href="mailto:hola@vuala.io" style="color:#40b0df; text-decoration: none;" >hola@vuala.io</a> </p>
<p>Equipo de Vual치<p>