<h3>Hola <strong>{{email}}</strong>,</h3>
<br>
<p>Te informamos que tuviste {{ users }} activos el mes pasado. Acabamos de realizar exitosamente el cobro por {{ total }} a la tarjeta con terminación {{ card }}.</p>
<p>Para ver y descargar el detalle de los usuarios, ve la la sección de ""Suscripción"" en Vualá.</p>
<p>Equipo de Vualá<p>