<h3>Hola <strong>{{email}}</strong>,</h3>
<br>
<p>Te informamos que tuviste {{ users }} activos el mes pasado. Desgraciadamente, no pudimos realizar el cobro por {{ total }} a la tarjeta con terminaci칩n {{ card }}.</p>
<p>Para seguir utilizando Vual치 por favor actualiza tu tarjeta en Vual치.</p>
<p>Equipo de Vual치<p>