<h3>Estimad@ <strong>{{email}}</strong>,</h3>
<br>
<p>¡Gracias por tu confianza en Vualá Factura Express!</p>
<p>Se acaba de realizar exitosamente el cargo de MXN ${{total}} para el paquete de {{pack}} facturas a la tarjeta con terminación {{card}}.</p>
<p>Si dejaste tus datos de facturación para la compra, pronto recibirás en automático tu factura electrónica con el XML y PDF adjuntos.</p>
<p>¡Felices facturaciones!</p><br>
<p>Cualquier duda no dudes en escribirnos a <a href="mailto:hola@vuala.io" style="color:#40b0df; text-decoration: none;" >hola@vuala.io</a> </p>
<p>Equipo de Vualá<p>