<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Montserrat:400">
    <title>Vualá empresarial</title>

    <style type="text/css">
        .center-block{
            display:block;
            margin-right:auto;
            margin-left:auto;
        }
        p,small{
            color:#616161;
            padding-left:15px;
            padding-right:15px;
            text-align:justify;
        }
        hr{
            color:#40B0DF;
            border-color:#40B0DF;
            text-decoration:none;
            border-style:outset;
            border-bottom:none;
        }
        table{
            border-color:#616161;
            color:#616161;
        }
        #expenses td{
            padding-top:10px;
            padding-bottom:10px;
        }
        #results td{
            padding-top:15px;
            padding-bottom:15px;
        }

        .button_blue {
            background-color: #40B0DF;
            font-size: 20px;
            color: #fff;
            text-decoration: none;
            padding: 10px;
            border-radius: 5px;
        }

    </style>
</head>
<body>

    <table cellspacing="0" cellpadding="0" width="600" border="0">
        <!-- header logos  -->
        <tr>
            <td>
                <table width="100%" style="padding-bottom:20px">
                    <tr>
                        <th align="left" style="background-color:#40B0DF;border-radius:5px;max-width:600px;text-align:center">
                            <a href="http://vuala.io">
                                <img alt="Vuala"  src="http://res.cloudinary.com/holavuala/image/upload/v1488241217/assets/logo-inverse.png" width="150" height="40">
                            </a>
                            <h5 style="color:#FFFFFF;text-align:center;font-family:sans-serif;padding-top:10px">El App para manejar tus gastos. </h5>

                        </th>
                    </tr>
                </table>
            </td>
        </tr>
        <!-- header logos  -->    
        <tr>
            <td>
                <div style="width: 100%">
                    <h3 style="padding-left:12px"> ¡Hola {{email}} ! </h3>

                    <p style="padding-left:12px">Gracias por usar Vualá. </p>

                    <p style="padding-left:12px"> Este correo llego a ti, ya que recientemente vinculaste 
                        este correo con tu cuenta de Vualá, haz clic en el siguiente botón 
                        para activar tu correo, si tu hiciste esta 
                        solicitud haz caso omiso a este correo.</p>
                    
                    <div style="text-align:center">
                        <a href="http://app.vuala.io/#/email_validation/{{token}}" class="button_blue">
                            Activar Email
                        </a>
                    </div>
                </div>
            </td> 
        </tr>       
        <!-- tabla de gastos -->
        <tr>
        <!-- Footer -->
        <tr>
            <td>
                <div style="text-align: center;padding-top:40px">
                    <a href="http://vuala.io">
                        <img alt="Vuala"  src="http://res.cloudinary.com/holavuala/image/upload/v1488241217/assets/logo.png" width="150" height="40">
                    </a>
                    <hr style="color:#e9e9e9; border: solid 1px; width:80%; text-align:center">

                    <p style="text-align: center;font-size:12px">El App para manejar tus gastos.</p>
                    
                    <a href="https://play.google.com/store/apps/details?id=com.builder.vuala" style="text-align:center" target="_blank">
                        <img alt="Vualal Google Play" src="http://d9hhrg4mnvzow.cloudfront.net/conoce.vuala.io/control-de-viaticos/a3c9e38a-googleplay_045018044018000000.png" style="width:150px;" >
                    </a>


                    <a href="https://itunes.apple.com/mx/app/vual%C3%A1-controla-tus-vi%C3%A1ticos/id1179591939?mt=8" style="text-align:center;margin-left:10px" target="_blank">
                        <img alt="Vualal App Store" src="http://d9hhrg4mnvzow.cloudfront.net/conoce.vuala.io/control-de-viaticos/788b1f96-appstore_045018044018000000.png" style="width:150px;" >
                    </a>

                    <p style="text-align: center;font-size:12px">Copyright Vuala {{year}} |    Todos los Derechos Reservados.</p>
                </div>
            </td>
        </tr>
        <!-- Footer-->
    </table>

</body>
</html>